@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-9" style="color:aliceblue">Добро пожаловать!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">build by me</a>.</p>
</div>
