@page
@model MychessProj.Pages.PMeeting.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Meeting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Meeting.Result" class="control-label"></label>
                <input asp-for="Meeting.Result" class="form-control" />
                <span asp-validation-for="Meeting.Result" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.DateTime" class="control-label"></label>
                <input asp-for="Meeting.DateTime" class="form-control" />
                <span asp-validation-for="Meeting.DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.JudgeId" class="control-label"></label>
                <input asp-for="Meeting.JudgeId" class="form-control" />
                <span asp-validation-for="Meeting.JudgeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.IdTourn" class="control-label"></label>
                <input asp-for="Meeting.IdTourn" class="form-control" />
                <span asp-validation-for="Meeting.IdTourn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.User1" class="control-label"></label>
                <input asp-for="Meeting.User1" class="form-control" />
                <span asp-validation-for="Meeting.User1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.User2" class="control-label"></label>
                <input asp-for="Meeting.User2" class="form-control" />
                <span asp-validation-for="Meeting.User2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.IdLocation" class="control-label"></label>
                <select asp-for="Meeting.IdLocation" class ="form-control" asp-items="ViewBag.IdLocation"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
